.header-container{
	font-family: 'Lobster', cursive;
	color: #d40000;
	font-size: 100px;
	justify-content: center;
	
}
.flex{
	display: flex;

}

.header-container img{
	height: auto;
	width: 107px;
}

#header-item-1{
	flex-grow: 1;

}

#header-item-2{
	flex-grow: 0;

}

.menu-container{
	justify-content: space-around;
}